.mp-ai-sidebar-content .components-panel__body {
    border: none;
}
.mp-ai-preview-box {
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);
}
.mp-ai-image-preview {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    background: #f0f0f1;
    text-align: center;
}
.mp-ai-image-preview img {
    max-width: 100%;
    height: auto;
}
